
<div class="MuiFormControl-root css-b1884d">
  <label class="MuiInputLabel-root
                MuiInputLabel-formControl
                MuiInputLabel-animated
                MuiInputLabel-standard
                MuiFormLabel-root
                MuiFormLabel-colorPrimary
                css-mqt2s5"
         data-shrink="false"
         id="demo-simple-select-standard-label">Age
  </label>
  <div class="MuiInput-root
    MuiInput-underline
    MuiInputBase-root
    MuiInputBase-colorPrimary
    MuiInputBase-formControl 
    css-1cayd89">
    <div tabindex="0" role="button" aria-expanded="false"
      aria-haspopup="listbox"
      aria-labelledby="demo-simple-select-standard-label
      demo-simple-select-standard"
      id="demo-simple-select-standard"
      class="MuiSelect-select
      MuiSelect-standard
      MuiInput-input
      MuiInputBase-input
      css-1cccqvr">
      <span class="notranslate">​</span>
    </div>
    <input
      value=""
      aria-hidden="true"
      tabindex="-1"
      class="MuiSelect-nativeInput
      css-1k3x8v3">
    <svg
      class="MuiSvgIcon-root
      MuiSvgIcon-fontSizeMedium
      MuiSelect-icon
      MuiSelect-iconStandard
      css-1utq5rl"
      focusable="false"
      aria-hidden="true"
      viewBox="0 0 24 24"
      data-testid="ArrowDropDownIcon">
      <path d="M7 10l5 5 5-5z"></path>
    </svg>
  </div>
</div>
