
<div class="MuiFormControl-root css-b1884d">
  <label class="MuiInputLabel-root
                MuiInputLabel-formControl
                MuiInputLabel-animated
                MuiInputLabel-filled
                MuiFormLabel-root
                MuiFormLabel-colorPrimary
                css-14x1nlk"
          data-shrink="false"
          id="demo-simple-select-filled-label">Age
  </label>
  <div class="MuiFilledInput-root
    MuiFilledInput-underline
    MuiInputBase-root
    MuiInputBase-colorPrimary
    MuiInputBase-formControl 
    css-1oml8th">
    <div tabindex="0" role="button" aria-expanded="false"
      aria-haspopup="listbox"
      aria-labelledby="demo-simple-select-filled-label
      demo-simple-select-filled"
      id="demo-simple-select-filled"
      class="MuiSelect-select
      MuiSelect-filled
      MuiFilledInput-input
      MuiInputBase-input
      css-17gq4vl">
      <span class="notranslate">​</span>
    </div>
    <input
      value=""
      aria-hidden="true"
      tabindex="-1"
      class="MuiSelect-nativeInput
      css-1k3x8v3">
    <svg
      class="MuiSvgIcon-root
      MuiSvgIcon-fontSizeMedium
      MuiSelect-icon
      MuiSelect-iconFilled
      css-1636szt"
      focusable="false"
      aria-hidden="true"
      viewBox="0 0 24 24"
      data-testid="ArrowDropDownIcon">
      <path d="M7 10l5 5 5-5z"></path>
    </svg>
  </div>
</div>
