body {
  font-family: Montserrat;
  font-family: --font-family;
}
#container {
  max-width:25em;
  padding:4px 8px 8px 8px;
  background-color:rgb(0,0,0);
  color:silver;
  min-height: 93vh;
}
#result {
  padding:2px 2px 6px 0;
  width: 100%;
  color:white;
}
#result pre {
  font-size:8px;
  padding:2px 2px 0 0;
  padding: 4px 0px 4px 6px;
  white-space:pre-wrap;
}
