 
:root{
  /* common to everything */
  --font-family:Montserrat, Roboto, sans-serif;

  --lw-gray: #6c757d;
  --lw-gray-dark: #343a40;
  --lw-gray-100: #f8f9fa;
  --lw-gray-200: #e9ecef;
  --lw-gray-300: #dee2e6;
  --lw-gray-400: #ced4da;
  --lw-gray-500: #adb5bd;
  --lw-gray-600: #6c757d;
  --lw-gray-700: #495057;
  --lw-gray-800: #343a40;
  --lw-gray-900: #212529;
}

:root{
  /* general styles for controls */
  --control-height:28px;
  --control-border:1px solid #bbbbbb;
  --control-border-radius:7px;
  --control-inner-border-radius:6px; /* subtract border width */
  --control-bg-color:rgb(51,51,51); /* #333333 */
  --control-bg-color-hover:rgb(80,80,80); /* #505050 */
  --control-text-color:rgb(238, 238, 238); /* #eeeeee */
  --control-text-interim-color:rgb(160,160,255); /* #a0a0ff */
  --control-text-not-valid:underline wavy;
  --control-text-color-hover:white;
  --control-input-text-size:16px;
}
