/* styles to make lw-select look like bootstrap standard */

:root {
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --control-bg-color-hover: var( --control-bg-color );
  --control-font-size: var(--bs-body-font-size);;
  --control-font-weight:400;
  --control-line-height:1.5;
  --control-border-color-focus:#86b7fe;

  --control-bg-color:var(--bs-body-bg);
  --control-text-color:var(--bs-body-color);
  --control-text-color-hover:blue;
  --control-text-interim-color:rgb(160,160,255); /* #a0a0ff */
  --control-text-not-valid:underline wavy;
  --control-input-text-size: var(--bs-body-font-size);
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
.lwBox {
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.lwButton button {
  border-top-right-radius: calc( .25rem - 2px );
  border-bottom-right-radius: calc( .25rem - 2px );
}
.lwSearchText {
  padding: .375rem 2.25rem .375rem .75rem;
  border-top-left-radius: calc( .25rem - 2px );
  border-bottom-left-radius: calc( .25rem - 2px );
}
.lwBox:focus-within {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.lwList {
}
.lwList li:hover, .lwList {
  color:white;
  background-color: rgb(128,128,255);
  cursor:pointer;
}
.lwList li.lwListSelected {
  color:white;
  background-color: rgb(128,128,255);
}


